@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

// colors
$sidebar-color: #191919;
$white-color: #ffffff;
$red-color: #ff0000;
$grey-color: #808080;
$lightgrey-color: #bebebe;
$shadowgrey-color: #e8e8e8;
$body-color: #e9e9e9;
$blue-color: #0066CC;
$green-color: #58a30f;
$orange-color: #ff8000;

// font size
$paragraph-font-size: 16px;
$h1-font: 36px;
$h2-font: 24px;
$h3-font: 20px;
$h4-font: 12px;

// fonts
$brand-fonts: 'Just Another Hand',
cursive;
$paragraph-fonts: sans-serif;
$nav-fonts: 'Calibri';

// paddings
$pdd-sidebar: 10%;