@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

// components
// @import "components/form_field";

// sections
// @import "sections/registration_form";

// pages / views
// @import "pages/registration";

body {
    background-color: $body-color;
}

// sidebar
.component--nav__h1 {
    font-family: $brand-fonts;
    padding-left: $pdd-sidebar;
    font-size: $h1-font-size;
    letter-spacing: 3px;
    color: $lightgrey-color;
}

.fa-bars {
    margin-left: 20%;
}

.component--nav {
    width: 250px;
    height: 100%;
    background-color: $black-color;
    color: $white-color;
    position: fixed;
    font-family: $nav-fonts;
    z-index: 1;
}

.component--nav__ul {
    list-style-type: none;
    line-height: 60px;
    padding-left: $pdd-sidebar;
    font-size: 1.6em;
    color: $grey-color;
    cursor: pointer;
}

.line {
    border: 1px solid $grey-color;
}

.manager--info__h2 {
    color: $grey-color;
    padding-left: $pdd-sidebar;
    font-size: $h2-font-size;
}

.manager--foto {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: $pdd-sidebar;
}

.manager--h3 {
    padding-right: 20%;
    float: right;
    line-height: 40px;
    color: $blue-color;
    font-size: $h3-font-size;
}

// topbar
.topbar {
    margin-left: 100px;
    position: fixed;
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: $h2-font-size;
    color: $lightgrey-color;
    font-family: $nav-fonts;
    border-bottom: 1px solid $grey-color;
    z-index: 0;
    background-color: $white-color;

    .wallet {
        font-size: $h1-font-size;
    }

    .leo {
        color: $blue-color;
    }
}

.topbar--border {
    border-left: 1px solid $grey-color;
    text-align: center;
}

.main--content {
    color: $lightgrey-color;
    margin: 100px -30px 0 220px;
    width: 88%;
    height: 500px;
    background-color: $white-color;
    box-shadow: 1px 1px 2px 2px $lightgrey-color;

    h1 {
        margin: 0px 0 10px 20px;
        padding-top: 10px;
    }
}

.line--second {
    border: 1px solid $lightgrey-color;
}

.datepick {
    margin: 25px 0 25px 0;
    text-align: center;
}