@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

// components
// @import "components/form_field";

// sections
// @import "sections/registration_form";

// pages / views
// @import "pages/registration";

body {
    background-color: $body-color;
}

// sidebar
.sidebar-nav__h1 {
    font-family: $brand-fonts;
    padding-left: $pdd-sidebar;
    font-size: $h1-font-size;
    letter-spacing: 3px;
    color: $lightgrey-color;
}

.fa-bars {
    margin-left: 20%;
}

.sidebar-nav {
    width: 250px;
    height: 100%;
    background-color: $black-color;
    color: $white-color;
    position: fixed;
    font-family: $nav-fonts;
    z-index: 1;
}

.sidebar-nav__ul {
    list-style-type: none;
    line-height: 60px;
    padding-left: $pdd-sidebar;
    font-size: 1.6em;
    color: $grey-color;
    cursor: pointer;
}

.line-one {
    border: 1px solid $grey-color;
}

.manager-info__h2 {
    color: $grey-color;
    padding-left: $pdd-sidebar;
    font-size: $h3-font-size;
}

.manager-foto {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: $pdd-sidebar;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.manager-h3 {
    padding-right: 20%;
    float: right;
    line-height: 40px;
    color: $blue-color;
    font-size: $h4-font-size;
}

// topbar
.topbar {
    position: fixed;
    width: 100%;
    height: 70px;
    line-height: 69px;
    font-size: $h3-font-size;
    color: $lightgrey-color;
    font-family: $nav-fonts;
    border: 1px solid $grey-color;
    z-index: 0;
    background-color: $white-color;

    .leo {
        color: $blue-color;
    }
}

.topbar-border {
    border-left: 1px solid $grey-color;
    text-align: center;
}

// main content
.main-container {
    padding: 100px 0 0 250px;
}

.main-content {
    color: $lightgrey-color;
    margin: 0 auto;
    width: 95%;
    height: 500px;
    background-color: $white-color;
    box-shadow: 1px 1px 2px 2px $lightgrey-color;

    h1 {
        margin: 0px 0 10px 20px;
        padding-top: 10px;
    }
}

.line-second {
    border: 1px solid $lightgrey-color;
}

.datepick {
    margin: 25px 0 25px 0;
    text-align: center;
}

// media queries
@media (max-width: 767px) {
    @include grid("sm");
}

@media (min-width: 768px) {
    @include grid("md");
}

@media (min-width: 992px) {
    @include grid("lg");
}

@media (min-width: 1200px) {
    @include grid("xl");
}
