@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

body {
    background-color: $body-color;
    font-family: $nav-fonts;
}

a,
button {
    cursor: pointer;
}

// sidebar
.sidebar-nav__title {
    font-family: $brand-fonts;
    padding-left: $pdd-sidebar;
    font-size: $h1-font;
    letter-spacing: 4px;
    color: $shadowgrey-color;
    display: inline-block;
}

.menu {
    position: fixed;
    z-index: 999;
}

.hamburger {
    display: inline-block;
    width: 25px;
    height: 20px;
    border: 0;
    border-top: 2px solid $grey-color;
    position: absolute;
    top: 35px;
    left: 200px;
    cursor: pointer;
    z-index: 10;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid $grey-color;
    transform: translateY(6px);
}

.hamburger::after {
    transform: translateY(15px);
}

.sidebar-nav {
    width: 250px;
    height: 100%;
    background-color: $sidebar-color;
    color: $white-color;
    position: fixed;
    z-index: 10;
}

.sidebar-nav__ul {
    list-style-type: none;
    line-height: 55px;
    padding: 0;
    font-size: 1.3em;
    color: $grey-color;
    cursor: pointer;
    position: relative;
    top: -35px;

    li {
        padding-left: $pdd-sidebar;

        &:hover {
            background-color: rgba(128, 128, 128, 0.1);
            border-left: 5px solid $orange-color;
            padding-left: 20px;
        }
    }

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $grey-color;

        &:hover {
            color: $lightgrey-color;
        }
    }

    .space {
        padding-left: 20px;
    }
}

.your-manager {
    border-top: 1px solid $lightgrey-color;
    padding-top: 25px;
}

.manager-info__h2 {
    color: $grey-color;
    padding-left: $pdd-sidebar;
    font-size: $h3-font;
}

.manager-foto {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: $pdd-sidebar;
}

.manager-h3 {
    padding-right: 20%;
    float: right;
    line-height: 25px;
    color: $blue-color;
    font-size: $h3-font;
}

.green-dot {
    width: 15px;
    height: 15px;
    background-color: $green-color;
    border-radius: 50%;
    position: relative;
    top: -75px;
    left: 75px;
}

#details-statistic,
#links,
#banners,
#personal-data {
    padding-top: 100px;
}

// topbar
.topbar {
    position: fixed;
    width: 100%;
    height: 70px;
    font-size: $h2-font;
    color: $lightgrey-color;
    border: 1px solid $lightgrey-color;
    z-index: 9;
    background-color: $white-color;
    display: flex;
    justify-content: flex-end;

    .leo {
        color: $blue-color;
        font-size: $h3-font;
    }

    .wallet {
        width: 300px;
    }

    .bell {
        width: 70px;
        position: relative;
        left: 10px;
    }

    .login {
        width: 230px;
    }

    .quit {
        width: 80px;
    }

    a {
        font-size: $h2-font;
        position: relative;
        top: 2px;
    }

    .icon-arrow-down-small {
        font-size: $h3-font;
    }
}

.topbar-border {
    border-left: 1px solid $lightgrey-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.orange-dot {
    width: 10px;
    height: 10px;
    background-color: $orange-color;
    border-radius: 50%;
    position: relative;
    top: 18px;
    right: 23px;
}

// general statistic
.main-container {
    padding: 100px 0 0 250px;
}

.main-content {
    color: $lightgrey-color;
    margin: 0 auto;
    width: 95%;
    height: auto;
    background-color: $white-color;
    box-shadow: 2px 2px 4px 4px rgba(216, 216, 216, 0.5);

    h2 {
        margin: 0px 0 10px 20px;
        padding-top: 10px;
    }
}

.datepick-input__left,
.datepick-input__right {
    border: 0;
    padding-left: 15px;
    color: $sidebar-color;
    font-size: $h3-font;
}

.datepick-input__left {
    border-right: 1px solid $lightgrey-color;
}

.date-border {
    border-top: 1px solid $lightgrey-color;
    border-bottom: 1px solid $lightgrey-color;
}

.datepick {
    margin: 30px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon-refresh {
        position: relative;
        left: 30px;
        color: $white-color;
    }
}

.orange-square {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background-color: $orange-color;
}

.border {
    padding: 10px;
    border: 1px solid $lightgrey-color;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.statistic-note {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;

    .statistic-note__item {
        width: 100%;
        max-width: 340px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $lightgrey-color;

        h3 {
            font-size: $h3-font;
        }

        span {
            font-size: $h3-font;
            color: $grey-color;
        }
    }
}

.chart1 {
    margin: 0 auto;
    padding: 30px 0 50px 0;
    width: 65%;
}

// details
.details__table {
    padding-bottom: 50px;
}

.details {
    width: 99%;
    font-size: $h3-font;
    border-collapse: collapse;
    margin: 0 auto;

    tr {
        border-bottom: 1px solid $lightgrey-color;
    }

    td {
        text-align: center;
        color: $sidebar-color;
        height: 80px;
    }
}

.details__thead {
    th {
        border-radius: 5px;
        height: 100px;

        &:hover {
            background-color: $shadowgrey-color;
            color: $sidebar-color;
        }
    }
}

.details__tr:hover {
    background-color: $shadowgrey-color;
}

// links
.main-container2 {
    padding: 35px 0 0 250px;
}

.links-border__top {
    border-top: 1px solid $lightgrey-color;
    text-align: center;
}

.links-btn1 {
    padding: 30px 0 30px 0;
}

.orange-btn {
    width: 130px;
    height: 45px;
    border-radius: 5px;
    background-color: $orange-color;
    border: 0;
    color: $white-color;
    font-size: $h3-font;
}

.links-table {
    display: flex;
    justify-content: center;

    tr {
        width: 700px;
        height: 60px;
        display: flex;
        justify-content: flex-start;
        border-top: 1px solid $lightgrey-color;
        font-size: $h3-font;

        &:hover {
            background-color: $shadowgrey-color;
        }
    }

    tr:nth-last-child(1) {
        border-bottom: 1px solid $lightgrey-color;
    }

    td {
        padding-left: 60px;
        width: 250px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        a {
            text-decoration: none;
            color: $blue-color;
            cursor: pointer;
        }
    }

    td:nth-child(1) {
        font-weight: bold;
    }

    td:nth-last-child(1) {
        padding-left: 100px;
    }

    .icons {
        opacity: 0;
        letter-spacing: 10px;

        &:hover {
            opacity: 1;

            .icon-links {
                color: $orange-color;
            }

            .icon-trash {
                color: $grey-color;
            }
        }
    }

    .icons2 {
        text-align: right;
        opacity: 0;
        letter-spacing: 10px;

        &:hover {
            opacity: 1;

            .icon-links {
                color: $orange-color;
            }

            .icon-trash {
                color: $grey-color;
            }
        }
    }
}

// banners
.links-table2 {
    display: flex;
    justify-content: center;

    tr {
        width: 800px;
        height: 60px;
        display: flex;
        justify-content: flex-start;
        border-top: 1px solid $lightgrey-color;
        font-size: $h3-font;

        &:hover {
            background-color: $shadowgrey-color;
        }
    }

    tr:nth-last-child(1) {
        border-bottom: 1px solid $lightgrey-color;
    }

    td {
        padding-left: 60px;
        width: 250px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        a {
            text-decoration: none;
            color: $blue-color;
            cursor: pointer;
        }
    }

    td:nth-child(1) {
        font-weight: bold;
    }

    td:nth-last-child(1) {
        padding-left: 200px;
    }

    .icons2 {
        opacity: 0;
        letter-spacing: 10px;

        &:hover {
            opacity: 1;

            .icon-links {
                color: $orange-color;
            }

            .icon-trash {
                color: $grey-color;
            }
        }
    }
}

// personal data
.links-border__bottom {
    border-bottom: 1px solid $lightgrey-color;
    text-align: center;
}

.field {
    width: 550px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-size: $h3-font;
    padding: 8px;

    input {
        height: 40px;
        width: 350px;
        padding-left: 10px;
        border-radius: 3px;
        border: 1px solid $lightgrey-color;
        font-size: $h3-font;
    }

    label {
        align-self: center;
        font-weight: bold;
    }
}

.field-space {
    margin: 30px 0 30px 0;
}

// media queries
@media (max-width: 767px) {
    @include grid("sm");

    .sidebar-nav {
        width: 250px;
        height: 100%;
        background-color: $sidebar-color;
        color: $white-color;
        position: fixed;
        z-index: 10;
        transition: .3s;
        left: 0;

        &:not(.sidebar-nav--visible) {
            left: -250px;
        }
    }

    .hamburger {
        display: inline-block;
        width: 25px;
        height: 20px;
        border: 0;
        border-top: 2px solid $grey-color;
        position: absolute;
        cursor: pointer;
        transition: .3s;

        &:not(.hamburger-menu--clicked) {
            left: 25px;
            top: 25px;
        }
    }

    .hamburger::before,
    .hamburger::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 2px solid $grey-color;
        transform: translateY(6px);
    }

    .hamburger::after {
        transform: translateY(15px);
    }

    .main-container {
        padding: 100px 0 0 0px;
    }

    .main-container2 {
        padding: 35px 0 0 0px;
    }

    .chart1 {
        display: flex;
        width: 100%;
    }

    // links
    .links-table {
        .icons {
            display: none;
        }
    }

    // banners
    .links-table2 {
        .icons2 {
            display: none;
        }
    }
}

@media (max-width: 850px) {
    // personal data
    .field {
        width: 500px;
        display: block;
        margin: 0 auto;
        font-size: $h3-font;
        padding: 8px;

        input {
            display: block;
            margin: 0 auto;
            height: 40px;
            width: 350px;
            padding-left: 10px;
            border-radius: 3px;
            border: 1px solid $lightgrey-color;
            font-size: $h3-font;
        }

        label {
            font-weight: bold;
        }
    }

    .field-space {
        margin: 30px 0 30px 0;
    }

    form {
        .field {
            width: 100%;
        }
    }

    .date-border {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 1030px) {
    // links
    .links-table {
        tr {
            display: block;
            height: auto;
            width: auto;
        }

        td {
            display: block;
            position: relative;
            padding-left: 5%;
            padding-top: 5%;
            height: 60px;
            text-align: left;

            &::before {
                position: absolute;
                top: 0;
                left: 20px;
                width: 30%;
                padding-right: 10px;
                white-space: nowrap;
            }
        }
    }

    .details__thead {
        display: none;
    }
}

@media (max-width: 1130px) {
    // banners
    .links-table2 {
        tr {
            display: block;
            height: auto;
            width: auto;
        }

        td {
            display: block;
            position: relative;
            padding-left: 5%;
            padding-top: 5%;
            height: 60px;
            text-align: left;
            width: auto;

            &::before {
                position: absolute;
                top: 0;
                left: 20px;
                width: 30%;
                padding-right: 10px;
                white-space: nowrap;
            }
        }

        td:nth-last-child(1) {
            padding-left: 150px;
        }
    }
}

@media (max-width: 1260px) {
    // details
    .details__tr {
        display: block;
        height: auto;

        td {
            display: block;
            position: relative;
            padding-left: 50%;
            height: 30px;
            text-align: left;

            &::before {
                position: absolute;
                top: 0;
                left: 50px;
                width: 30%;
                padding-right: 10px;
                white-space: nowrap;
            }

            &:nth-of-type(1)::before {
                content: 'Tracker name';
                font-weight: bold;
            }

            &:nth-of-type(2)::before {
                content: 'Initiated date';
                font-weight: bold;
            }

            &:nth-of-type(3)::before {
                content: 'Visits';
                font-weight: bold;
            }

            &:nth-of-type(4)::before {
                content: 'Unique';
                font-weight: bold;
            }

            &:nth-of-type(5)::before {
                content: 'Signups';
                font-weight: bold;
            }

            &:nth-of-type(6)::before {
                content: 'FTD';
                font-weight: bold;
            }

            &:nth-of-type(7)::before {
                content: 'Depositors';
                font-weight: bold;
            }

            &:nth-of-type(8)::before {
                content: 'Deposits ($)';
                font-weight: bold;
            }

            &:nth-of-type(9)::before {
                content: 'Payout ($)';
                font-weight: bold;
            }

            &:nth-of-type(10)::before {
                content: 'Turnover';
                font-weight: bold;
            }

            &:nth-of-type(11)::before {
                content: 'Deal';
                font-weight: bold;
            }
        }
    }

    .details__thead {
        display: none;
    }
}

@media (min-width: 768px) {
    @include grid("md");
}

@media (min-width: 992px) {
    @include grid("lg");
}

@media (min-width: 1200px) {
    @include grid("xl");
}
