<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/Glyphter.css">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Sidebar</title>
</head>

<body>
    <nav class="component--nav">
        <h1 class="component--nav__h1">Just do it<a class="fas fa-bars"></a></h1>
        <ul class="component--nav__ul">
            <li><a class="icon-general" id="general-link"> &nbsp;General</a></li>
            <li><a class="icon-details" id="details-link"> &nbsp;Details</a></li>
            <li><a class="icon-links" id="links-link"> &nbsp;Links</a></li>
            <li><a class="icon-banners" id="banners-link"> &nbsp;Banners</a></li>
            <li><a class="icon-personaldata" id="personaldata-link"> &nbsp;Personal data</a></li>
            <li><a class="icon-payout" id="payout-link"> &nbsp;Payout</a></li>
            <li><a class="icon-postback" id="postback-link"> &nbsp;Postback</a></li>
        </ul>
        <div class="line"></div>
        <div class="manager--info">
            <h2 class="manager--info__h2">YOUR MANAGER</h2>
            <div class="manager">
                <img class="manager--foto" src="https://cdn.stocksnap.io/img-thumbs/960w/TGG4JHNHB8.jpg">
                <h3 class="manager--h3">Dexter M.</h3>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="topbar">
            <div class="col-5"></div>
            <div class="col-2 topbar--border"><i class="icon-wallet"></i> &nbsp; $1,500.00 &nbsp; <i class="icon-arrow-down-small"></i></div>
            <div class="col-1 topbar--border"><i class="icon-notification"></i></div>
            <div class="col-2 topbar--border"><i class="icon-login"></i> &nbsp; Leonardo Dicaprio</div>
            <div class="col-2 topbar--border"><i class="icon-quit"></i></div>
        </div>
    </div>
</body>

</html>